html{
  background-color:#343434 ;
 

}
body{
  color: #B9D2D2;
}
#homePage{
  margin: 0;
  padding: 0;  

}
nav{
display: flex;
align-items: center;
justify-content: space-between;
background-color:#055E68;
padding: 0 60px;
margin: 0 0;
}
nav img{
  height: 30px;
}
#side-bar{
  display: visible;
  height: 80vh;
  width: 20vw;
  border: solid 1px black;
}
footer{
  height: 7vh;
  width: 100vw;
  border: 1px solid black; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer a{
  text-decoration: none;
}
