html {
  background-color: #eaeaea;
}
body {
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*PAGES*/
/*HomePage*/
#homePage {
  margin: 0;
  padding: 0;
}
/* About */
#about {
  margin: 70px 0 50px 0;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding-left: 210px;
}
.about-back-btn {
  height: 50px;
  width: 150px;
  background-color: #ffffff;
  border-radius: 25px;
  border: 2px #1B332E solid;
  font-size: 1.2rem;
  margin:20px 20px;
}
#about-h2 {
  font-family: "Gordita Medium", sans-serif;
}
#creadores li{
  list-style-type: none;
}
/*error 404*/
#sorry {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}
/*Details*/
.recipe-details {
  left: 200px;
  position: relative;
  background-color: #ffffff;
  padding-left: 20px;
}
.details-img-food {
  background-size: cover;
  width: 80vw;
  height: 30vh;
}

.details-container-text{
border-bottom: solid 1px rgb(214, 214, 214);
padding-bottom: 12px;
}

.recipe-details button {
  width: 100px;
  height: 36px;
  border: none;
  margin: 10px 5px;
  background-color: #ffffff;
  border: solid 2px #ff8300;
  color: #ff8300;
  border-radius: 8px;
}

/* Components*/
/* NAV */
nav {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: auto;
  position: fixed;
  gap: 10px;
  background-color: #ffffff;
  padding: 0 20px;
  margin: 0 0;
  z-index: 2;
  width: 100%;
  height: 75px;
}

nav img {
  height: 30px;
}

#form-container {
  height: 125px;
  position: absolute;
  margin: 56px 180px;
  padding-left: 20px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  gap: 15px;
  padding: 20px;
  height: 150px;
  margin-top: 20px;
  background-color: #ffffff;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}
form input{
  width: auto;
  margin: 5px ;
}

form button{
  font-weight: 600;
  padding: 5px 10px;
  width: 100px;
  height: 36px;
  border: none;
  margin: 10px 5px;
  background-color: #ff8300;
  color: white;
  border-radius: 8px;
}

/*SideBar*/

#side-bar {
  height: 100%;
  width: 190px;
  position: fixed;
  top: 70px;
  display: flex;
  flex-direction: column;
  background-color: #ff8300;
  font-weight: 600;
}

#side-bar a {
  padding: 20px 20px;
  text-decoration: none;
  color: white;
}

/*Footer*/

footer {
  height: 50px;
  width: 100vw;
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
}

footer a {
  text-decoration: none;
}
footer a:visited {
  color: rgb(96, 96, 96);
}
footer a:hover {
  color: #ffffff;
}
footer img {
  height: 30px;
}

/*List Container*/

#list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  left: 200px;
  margin: 290px 0;
  padding-bottom: 50px;
}

/* Items */
.recipe-container {
  display: flex;
  margin: 12px;
  flex-direction: column;
  width: 300px;
  border-radius: 5px;
  box-shadow: #bdbdbd 5px 5px 10px -2.5px;
  background-color: white;
}

#card-button-div {
  display: flex;
  justify-content: space-evenly;
}

.recipe-container button {
  width: 100px;
  height: 36px;
  border: none;
  margin: 10px 5px;
  background-color: #ffffff;
  border: solid 2px #ff8300;
  color: #ff8300;
  border-radius: 8px;
}


.container-text {
  padding-left: 20px;
  box-shadow: inset 5px 0 10px 5px rgb(245, 244, 244);
}

.img-food {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

#update-form button{
  width: 100px;
  height: 36px;
  margin: 10px 5px;
  background-color: #ff8300;
  color: #ffffff;
  border-radius: 8px;
}
